/*
 * This file is auto-imported into all components.
 * It's useful for commonly used SCSS Mixins.
 */

 @import 'mixins/breakpoints';
 @import 'mixins/forms';

// SCSS Mixins
@mixin fill($position: absolute) {
  position: $position;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
    -webkit-appearance: none;
    width: 0;
    height: 0;
  }
}

@mixin has-hover {
  @media (hover: hover) {
    @content;
  }
}
