// Page
.page-enter,
.page-leave-to {
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 500ms ease;
}

// Page
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 350ms ease;
}

// Fade
.fade-fast-enter,
.fade-fast-leave-to {
  opacity: 0;
}

.fade-fast-enter-active {
  transition: opacity 150ms ease-out;
}

.fade-fast-leave-active {
  transition: opacity 150ms ease-in;
}